@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

:root {
  background-color: #F2F2F7;
  color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #000000;
    color: #FFFFFF;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
